@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.activeSpan {
  background: linear-gradient(
    90deg,
    hsla(180, 100%, 29%, 1) 0%,
    hsla(173, 100%, 44%, 1) 100%
  );
  animation: tilt-shaking 0.5s linear;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  clip-path: inset(1px);
  -webkit-clip-path: inset(1px);
  transition: all 0.5s;
}

.activeSpanNeighbourPrev {
  color: #009393;
  transition: all 0.5s;
}

.activeSpanNeighbourNext {
  color: #00e0c6;
  transition: all 0.5s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
