.navbarItem {
  position: relative;
}

.navbarItem:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fb8e1c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbarItem:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
